/*
	This is css for Index.html
*/

.jumbotron
{
	background-color: #fff;
}
#jumbotron-overrides p
{
	font-size:15px;
}
.mode-container
{
	background-color:#eee; 
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
}
.mode-container a
{
	color: #fff;
}
.mode-container button
{
	font-size: 16px;
	text-align: center;
	vertical-align : middle;
	position: relative;
	top:-25px;
	width:300px;
	height:45px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
	border-radius:0px;
}
